{% extends 'dashboard/sertifikasi/master.html' %}

{% block title %} Sertifkasi {% endblock %}

{% block page_content %}
<div class="card">
    <div class="card-header mb-0">
        <h3>Daftar Sertifkasi</h3>
        <p class="text-subtitle mb-0">Manajemen penyelengaraan sertifikasi lembaga anda di halaman ini.</p>
    </div>
    <div class="card-body">
        <button class="btn btn-primary rounded-05 mb-4" data-bs-toggle="modal" data-bs-target="#addSertifikasiForm">Tambah Sertifkasi</button>
        <table class="table" id="table1">
            <thead>
                <tr>
                    <th>Nama Sertifkasi</th>
                    <th>Tanggal Sertifkasi</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for sertifikasi in data_sertifikasi %}

                <tr>
                    <td style="width: 40%;">{{ sertifikasi['nama'] }}</td>
                    <td class="text-center">{{ sertifikasi['date'] }}</td>
                    <td class="text-center">
                        <span class="badge bg-{% if sertifikasi['status'] == 'Nonaktif' %}danger{% else %}success{% endif %} bg-opacity-20 text-{% if sertifikasi['status'] == 'Nonaktif' %}danger{% else %}success{% endif %}">{{ sertifikasi['status'] }}</span>
                    </td>
                    <td class="text-center">

                        <span class="badge bg-warning bg-opacity-20 text-warning fs-6 py-2 hover-zoom" onclick="editSertifikasi('{{ sertifikasi['id'] }}')">
                            <i class="bi bi-pencil fs-6"></i>
                        </span>

                        <span class="badge bg-danger bg-opacity-20 text-danger fs-6 py-2 hover-zoom" onclick="deleteSertifikasi('{{ sertifikasi['id'] }}')">
                            <i class="bi bi-trash3 fs-6"></i>
                        </span>

                        <span class="badge bg-primary bg-opacity-20 text-primary fs-6 py-2 hover-zoom" onclick="showDetail('{{ sertifikasi['id'] }}')">
                            <i class="bi bi-eye fs-6"></i>
                        </span>

                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade text-left modal-borderless" id="addSertifikasiForm" tabindex="-1" aria-labelledby="addSertifikasiFormLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h4 class="modal-title" id="addSertifikasiFormLabel">
                    Form Tambah Sertifikasi
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form action="/add-sertifikasi" method="POST">
                <div class="modal-body">
                    <label for="nama">Nama Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="nama" name="nama" type="text" placeholder="Nama sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>

                    <label for="ringkasan">Ringkasan Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="ringkasan" name="ringkasan" type="text" placeholder="Ringkasan sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>

                    <label for="lokasi">Lokasi Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="lokasi" name="lokasi" type="text" placeholder="Lokasi sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>

                    <label for="date">Tanggal Pelaksanaan Sertifikasi: </label>
                    <div class="form-group">
                        <input id="date" type="text" name="date" class="form-control form-control-lg py-2 bg-gray-light rounded-05 flatpickr-no-config flatpickr-input active" placeholder="Klik untuk pilih tanggal" readonly="readonly" required>
                    </div>

                    <label for="url">URL Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="url" name="url" type="text" placeholder="URL sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>

                    <label for="deskripsi">Deskripsi Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="deskripsi" name="deskripsi" type="text" placeholder="Deskripsi sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>

                    <input type="hidden" name="nama_penyelenggara" value="{{ user['nama_lembaga'] }}">
                    <input type="hidden" name="email_penyelenggara" value="{{ user['email'] }}">
                    <input type="hidden" name="penyelenggara_uid" value="{{ user['localId'] }}">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary rounded-05">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-left modal-borderless" id="editSertifikasiForm" tabindex="-1" aria-labelledby="editSertifikasiFormLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h4 class="modal-title" id="editSertifikasiFormLabel">
                    Ubah Data Sertifikasi
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <form action="/edit-sertifikasi" method="POST">
                <div class="modal-body">
                    <label for="edt_nama">Nama Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="edt_nama" name="nama" type="text" placeholder="Nama sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>

                    <label for="edt_ringkasan">Ringkasan Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="edt_ringkasan" name="ringkasan" type="text" placeholder="Ringkasan sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>

                    <label for="edt_lokasi">Lokasi Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="edt_lokasi" name="lokasi" type="text" placeholder="Lokasi sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>
                    
                    <label for="edt_date">Tanggal Pelaksanaan Sertifikasi: </label>
                    <div class="form-group">
                        <input id="edt_date" type="text" name="date" class="form-control form-control-lg py-2 bg-gray-light rounded-05 flatpickr-no-config flatpickr-input active" placeholder="Klik untuk pilih tanggal" readonly="readonly" required>
                    </div>

                    <label for="edt_url">URL Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="edt_url" name="url" type="text" placeholder="URL sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>

                    <label for="edt_deskripsi">Deskripsi Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <input id="edt_deskripsi" name="deskripsi" type="text" placeholder="Deskripsi sertifikasi" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                    </div>

                    <label for="edt_status">Status Sertifikasi: </label>
                    <div class="form-group mb-3">
                        <select class="form-select py-2 bg-gray-light rounded-05 text-start" name="status" id="edt_status" required>
                            <option class="text-start" disabled selected value="default">Pilih Status</option>
                            <option class="text-start" value="Nonaktif">Nonaktif</option>
                            <option class="text-start" value="Aktif">Aktif</option>
                        </select>
                    </div>

                    <input type="hidden" name="penyelenggara_uid" value="{{ user['localId'] }}">
                    <input id="edt_created_at" type="hidden" name="created_at">
                    <input id="edt_email" type="hidden" name="email">
                    <input id="edt_jenis" type="hidden" name="jenis">
                    <input id="edt_nama_penyelenggara" type="hidden" name="nama_penyelenggara">
                    <input id="edt_id" type="hidden" name="id">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary rounded-05">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade text-left modal-borderless" id="detailSertifikasi" tabindex="-1" aria-labelledby="detailSertifikasiLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-4">
            <div class="modal-header">
                <h4 class="modal-title" id="detailSertifikasiLabel">
                    Detail Sertifikasi
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <label for="view_ringkasan">Singkatan Nama Sertifikasi: </label>
                <div class="form-group mb-3">
                    <input id="view_ringkasan" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" value="aa" readonly="readonly" disabled>
                </div>

                <label for="view_nama">Nama Sertifikasi: </label>
                <div class="form-group mb-3">
                    <input id="view_nama" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" value="aa" readonly="readonly" disabled>
                </div>

                <label for="view_lokasi">Lokasi Sertifikasi: </label>
                <div class="form-group mb-3">
                    <input id="view_lokasi" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" value="bb" readonly="readonly" disabled>
                </div>

                <label for="view_date">Tanggal Pelaksanaan Sertifikasi: </label>
                <div class="form-group">
                    <input id="view_date" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" value="cc" readonly="readonly" disabled>
                </div>

                <label for="view_url">URL Sertifikasi: </label>
                <div class="form-group mb-3">
                    <input id="view_url" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" value="bb" readonly="readonly" disabled>
                </div>

                <label for="view_deskripsi">Deskripsi Sertifikasi: </label>
                <div class="form-group mb-3">
                    <input id="view_deskripsi" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" value="bb" readonly="readonly" disabled>
                </div>

                <label for="view_status">Status Sertifikasi: </label>
                <div class="form-group mb-3">
                    <input id="view_status" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" value="bb" readonly="readonly" disabled>
                </div>

                <label for="view_datecreated">Tanggal Pembuatan Sertifikasi: </label>
                <div class="form-group mb-3">
                    <input id="view_datecreated" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" value="bb" readonly="readonly" disabled>
                </div>

                <input type="hidden" name="penyelenggara_uid" value="{{ user['localId'] }}">

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary rounded-05" data-bs-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>
    flatpickr('.flatpickr-no-config', {
        dateFormat: "Y-m-d",
    })

    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })

    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category, message in messages %}

    Toast.fire({
        icon: '{{ category }}',
        title: '{{ message }}'
    })

    {% endfor %}
    {% endif %}
    {% endwith %}

    var detailSertifikasiModal = new bootstrap.Modal($('#detailSertifikasi'));
    var editSertifikasiModal = new bootstrap.Modal($('#editSertifikasiForm'));

    function showDetail(docId) {
        $.get(`/get-sertifikasi/${docId}`, function (data) {
            $('#view_ringkasan').val(data.ringkasan)
            $('#view_nama').val(data.nama)
            $('#view_lokasi').val(data.lokasi)
            $('#view_date').val(data.date)
            $('#view_url').val(data.url)
            $('#view_deskripsi').val(data.deskripsi)
            $('#view_status').val(data.status)
            $('#view_datecreated').val(data.created_at)
            detailSertifikasiModal.show()
        })
    }

    function editSertifikasi(docId) {
        $.get(`/get-sertifikasi/${docId}`, function (data) {
            $('#edt_ringkasan').val(data.ringkasan)
            $('#edt_nama').val(data.nama)
            $('#edt_lokasi').val(data.lokasi)
            $('#edt_date').val(data.date)
            $('#edt_url').val(data.url)
            $('#edt_deskripsi').val(data.deskripsi)
            $('#edt_status').val(data.status)
            $('#edt_created_at').val(data.created_at)
            $('#edt_email').val(data.email_penyelenggara)
            $('#edt_jenis').val(data.jenis_kegiatan)
            $('#edt_nama_penyelenggara').val(data.nama_penyelenggara)
            $('#edt_id').val(docId)
            editSertifikasiModal.show()
        })
    }

    const swalCustom = Swal.mixin({
        customClass: {
            confirmButton: 'btn btn-danger rounded-05 me-3',
            cancelButton: 'btn btn-outline-danger rounded-05',
            popup: 'rounded-4 py-5 px-3',
            icon: 'mt-0'
        },
        buttonsStyling: false
    })

    function deleteSertifikasi(docId) {
        swalCustom.fire({
            title: 'Hapus Sertifikasi?',
            text: "Apakah anda yakin akan menghapus sertifikasi? Anda tidak dapat mengembalikan sertifikasi yang sudah dihapus.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '&nbsp;&nbsp;&nbsp;Ya&nbsp;&nbsp;&nbsp;',
            cancelButtonText: 'Tidak',
        }).then((result) => {
            if (result.isConfirmed) {
                window.open(`/delete-sertifikasi/${docId}`, "_self");
            }
        })
    }

</script>

{% endblock %}