{% extends 'masters/base.html' %}

{% block title %} 403 {% endblock %}

{% block body %}
<div id="error" class="vh-100 d-flex justify-content-center align-items-center">

    <div class="error-page container">
        <div class="col-md-8 col-12 offset-md-2">
            <div class="text-center">
                <img class="img-error" src="{{ url_for('static', filename='images/samples/error-403.svg') }}" height="500px" alt="Not Found">
                <h1 class="error-title text-primary">Forbidden</h1>
                <p class="fs-5 text-gray-600">You are unauthorized to see this page.</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}