{% extends 'masters/dashboard.html' %}

{% block title %}{% endblock %}

{% block menu %}
<li class="sidebar-item active">
    <a href="index.html" class='sidebar-link'>
        <i class="bi bi-grid-fill"></i>
        <span>Dashboard</span>
    </a>
</li>

<li class="sidebar-item  has-sub">
    <a href="#" class='sidebar-link'>
        <i class="bi bi-stack"></i>
        <span>Verifikasi</span>
    </a>
    <ul class="submenu ">
        <li class="submenu-item ">
            <a href="component-alert.html">Alert</a>
        </li>
        <li class="submenu-item ">
            <a href="component-badge.html">Badge</a>
        </li>
        <li class="submenu-item ">
            <a href="component-breadcrumb.html">Breadcrumb</a>
        </li>
    </ul>
</li>
{% endblock %}

{% block page_content %}{% endblock %}