{% extends 'dashboard/admin/master.html' %}

{% block title %} Verifikasi {% endblock %}

{% block page_content %}
<div class="card">
    <div class="card-header mb-0">
        <h3>Verifikasi Penyelenggara</h3>
        <p class="text-subtitle mb-0">Verifikasi akun penyelenggara lomba, sertifikasi, beasiswa, dan lowongan pekerjaan di halaman ini.</p>
    </div>
    <div class="card-body">
        <table class="table" id="table1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Graiden</td>
                    <td>vehicula.aliquet@semconsequat.co.uk</td>
                    <td>076 4820 8838</td>
                    <td>Offenburg</td>
                    <td>
                        <span class="badge bg-primary bg-opacity-20 text-primary">Active</span>
                    </td>
                </tr>
                <tr>
                    <td>Dale</td>
                    <td>fringilla.euismod.enim@quam.ca</td>
                    <td>0500 527693</td>
                    <td>New Quay</td>
                    <td>
                        <span class="badge bg-secondary bg-opacity-20 text-secondary">Active</span>
                    </td>
                </tr>
                <tr>
                    <td>Nathaniel</td>
                    <td>mi.Duis@diam.edu</td>
                    <td>(012165) 76278</td>
                    <td>Grumo Appula</td>
                    <td>
                        <span class="badge bg-success bg-opacity-20 text-success">Inactive</span>
                    </td>
                </tr>
                <tr>
                    <td>Darius</td>
                    <td>velit@nec.com</td>
                    <td>0309 690 7871</td>
                    <td>Ways</td>
                    <td>
                        <span class="badge bg-warning bg-opacity-20 text-warning">Active</span>
                    </td>
                </tr>
                <tr>
                    <td>Oleg</td>
                    <td>rhoncus.id@Aliquamauctorvelit.net</td>
                    <td>0500 441046</td>
                    <td>Rossignol</td>
                    <td>
                        <span class="badge bg-danger bg-opacity-20 text-danger">Active</span>
                    </td>
                </tr>
                <tr>
                    <td>Kermit</td>
                    <td>diam.Sed.diam@anteVivamusnon.org</td>
                    <td>(01653) 27844</td>
                    <td>Patna</td>
                    <td>
                        <span class="badge bg-info bg-opacity-20 text-info">Active</span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock %}