{% extends 'dashboard/admin/master.html' %}

{% block title %} Verifikasi {% endblock %}

{% block page_content %}
<div class="card">
    <div class="card-header mb-0">
        <h3>Verifikasi Penyelenggara</h3>
        <p class="text-subtitle mb-0">Verifikasi akun penyelenggara lomba, sertifikasi, beasiswa, dan lowongan pekerjaan di halaman ini.</p>
    </div>
    <div class="card-body">
        <table class="table" id="table1">
            <thead>
                <tr>
                    <th>NAMA LEMBAGA</th>
                    <th>NO TELEPON</th>
                    <th>TANGGAL DAFTAR</th>
                    <th>STATUS</th>
                    <th>AKSI</th>
                </tr>
            </thead>
            <tbody>
                {% for item in user['users_data'] %}
                <tr>
                    <td>{{ item.nama_lembaga }}</td>
                    <td class="text-center">{{ item.telepon_lembaga }}</td>
                    <td class="text-center">{{ item.tanggal_daftar }}</td>
                    <td class="text-center">
                        <span class="badge bg-{% if item.status == 'Nonaktif' %}danger{% else %}success{% endif %} bg-opacity-20 text-{% if item.status == 'Nonaktif' %}danger{% else %}success{% endif %}">{{ item.status }}</span>
                    </td>
                    <td class="text-center">
                        <span class="badge bg-success bg-opacity-20 text-success"><i class="bi bi-check-square"></i></span>
                        <span class="badge bg-danger bg-opacity-20 text-danger"><i class="bi bi-x-square"></i></span>
                        <span class="badge bg-primary bg-opacity-20 text-primary"><i class="bi bi-eye"></i></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}