.sidebar-item {
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
    color: var(--bs-gray-700) !important;
}

.sidebar-item.active>a {
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
}

.sidebar-item>a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500 !important;
    color: var(--bs-gray-700) !important;
}

.sidebar-item>a>i {
    color: var(--bs-gray-700) !important;
}

.sidebar-item.active>a>i {
    color: white !important;
}

.submenu-item>a {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 500 !important;
    color: var(--bs-gray-700) !important;
}

.sidebar-item>.role {
    font-size: 0.8rem !important;
    border-radius: 0.3rem !important;
    background-color: rgba(var(--bs-primary-rgb), 0.2);
    color: var(--bs-primary) !important;
}

.sidebar-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600 !important;
    font-size: 1.1rem !important;
    color: var(--bs-primary) !important;
}

.sidebar-wrapper .menu .sidebar-item.active>.sidebar-link {
    background-color: var(--bs-primary);
}

.logout:hover {
    background-color: var(--bs-danger) !important;
    color: white !important;
}