{% extends 'masters/base.html' %}

{% block title %} Daftar {% endblock %}

{% block body %}
<div id="auth">

    <div class="d-flex justify-content-center align-items-center vh-100">

        <div class="col-lg-4 col-12">
            <div class="card rounded-4 p-3" style="transition: height 0.3s ease;">
                <div class="card-content rounded-4 bg-white px-5 py-5 text-center">

                    <div class="step-3" id="step-3">
                        <h4 class="text-primary text-start mt-3">Verifikasi Email 👌</h4>
                        <p class="text-gray-500 text-start">Silahkan verifikasi email anda melalui link yang telah dikirimkan ke email anda.</p>

                        {# <div class="form-group position-relative has-icon-left mt-5">
                            <input type="text" name="code_confirmation" class="form-control form-control-lg ps-5 py-3 bg-gray-light rounded-3" placeholder="Kode Konfirmasi" required>
                            <div class="form-control-icon d-flex align-items-center top-0 h-100 px-3">
                                <i class="bi bi-shield-check h-auto"></i>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block btn-lg mt-5 rounded-3 py-3">Daftar Sekarang</button> #}
                        <p class="text-start w-100 mt-5 mb-0 ">Sudah verifikasi? <a href="/login" class="text-primary font-semibold">Masuk Disini</a></p>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
    const Toast = Swal.mixin({
        toast: true,
        position: 'top-end',
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
        }
    })


    {% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
    {% for category, message in messages %}

    Toast.fire({
        icon: "{{ category }}",
        title: "{{ message }}"
    })

    {% endfor %}
    {% endif %}
    {% endwith %}

</script>
{% endblock %}