<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeMaNesia</title>
</head>
<body>
    <form action="/register" method="POST">
        <input type="text" name="nama" placeholder="nama lembaga" required><br>
        <input type="text" name="sektor" placeholder="sektor lembaga" required><br>
        <input type="text" name="telepon" placeholder="telepon lembaga" required><br>
        <input type="text" name="alamat" placeholder="alamat lembaga" required><br>
        <input type="submit"><br>
        <a href="/">Sudah punya akun</a>
    </form>
</body>
</html>