{% extends 'dashboard/beasiswa/master.html' %}

{% block title %} Beasiswa {% endblock %}

{% block page_content %}
<div class="card">
    <div class="card-header mb-0">
        <h3>Daftar Beasiswa</h3>
        <p class="text-subtitle mb-0">Manajemen penyelengaraan beasiswa lembaga anda di halaman ini.</p>
    </div>
    <div class="card-body">
        <button class="btn btn-primary rounded-05 mb-4" data-bs-toggle="modal" data-bs-target="#addBeasiswaForm">Tambah Beasiswa</button>
        <table class="table" id="table1">
            <thead>
                <tr>
                    <th>Nama Beasiswa</th>
                    <th>Tanggal Beasiswa</th>
                    <th>Status</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for beasiswa in data_beasiswa %}

                <tr>
                    <td style="width: 40%;">{{ beasiswa['nama'] }}</td>
                    <td class="text-center">{{ beasiswa['date'] }}</td>
                    <td class="text-center">
                        <span class="badge bg-{% if beasiswa['status'] == 'Nonaktif' %}danger{% else %}success{% endif %} bg-opacity-20 text-{% if beasiswa['status'] == 'Nonaktif' %}danger{% else %}success{% endif %}">{{ beasiswa['status'] }}</span>
                    </td>
                    <td class="text-center">

                        <span class="badge bg-warning bg-opacity-20 text-warning fs-6 py-2 hover-zoom" onclick="editBeasiswa('{{ beasiswa['id'] }}')">
                            <i class="bi bi-pencil fs-6"></i>
                        </span>

                        <span class="badge bg-danger bg-opacity-20 text-danger fs-6 py-2 hover-zoom" onclick="deleteBeasiswa('{{ beasiswa['id'] }}')">
                            <i class="bi bi-trash3 fs-6"></i>
                        </span>

                        <span class="badge bg-primary bg-opacity-20 text-primary fs-6 py-2 hover-zoom" onclick="showDetail('{{ beasiswa['id'] }}')">
                            <i class="bi bi-eye fs-6"></i>
                        </span>

                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade text-left modal-borderless" id="addBeasiswaForm" tabindex="-1" aria-labelledby="addBeasiswaFormLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-4 p-3">
            <div class="modal-header">
                <h4 class="modal-title" id="addBeasiswaFormLabel">
                    Form Tambah Beasiswa
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form id="addForm" action="/add-beasiswa" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-4">
                            <label for="poster">Poster Beasiswa</label>
                            <img id="img-poster" class="rounded-05 border-primary border mt-1 poster-placeholder">
                            <div class="form-group mb-5 mt-3">
                                <input type="file" id="poster" name="poster" type="file" accept="image/*" class="image-filepond border-primary border-1" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
                            </div>

                            <label for="file-penting">File Penting (Opsional) (File PDF) </label>
                            <div class="form-group mb-3  mt-1">
                                <input type="file" id="file-penting" name="file-penting" multiple class="mf-filepond multiple-files-filepond border-primary" accept="application/pdf" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple>
                            </div>
                        </div>
                        <div class="col-8 ps-3">
                            <label for="nama">Nama Beasiswa </label>
                            <div class="form-group mb-3 mt-1">
                                <input id="nama" name="nama" type="text" placeholder="Nama beasiswa" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                            </div>

                            <label for="ringkasan">Ringkasan Beasiswa </label>
                            <div class="form-group mb-3  mt-1">
                                <input id="ringkasan" name="ringkasan" type="text" placeholder="Ringkasan beasiswa" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                            </div>

                            <label for="lokasi">Jenis Pelaksanaan Beasiswa </label>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="radioLokasi" value="Daring" id="radioDaring">
                                <label class="form-check-label">
                                    Daring
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="radioLokasi" value="Offline" id="radioOffline">
                                <label class="form-check-label">
                                    Offline
                                </label>
                            </div>

                            <label for="lokasi" id="labelLokasi" class="d-none">Lokasi Pelaksanaan Beasiswa </label>
                            <div class="form-group mb-3  mt-1">
                                <input id="textLokasi" name="lokasi" type="hidden" placeholder="Lokasi offline" class="form-control form-control-lg py-2 bg-gray-light rounded-05">
                            </div>

                            <label for="date">Tanggal Pelaksanaan Beasiswa </label>
                            <div class="form-group mb-3  mt-1">
                                <input id="date" type="text" name="date" class="form-control form-control-lg py-2 bg-gray-light rounded-05 flatpickr-no-config flatpickr-input active" placeholder="Klik untuk pilih tanggal" readonly="readonly" required>
                            </div>

                            <label for="url">URL Beasiswa </label>
                            <div class="form-group mb-3  mt-1">
                                <input id="url" name="url" type="text" placeholder="URL beasiswa" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                            </div>

                            <label for="deskripsi">Deskripsi Beasiswa </label>
                            <div class="form-group mb-3  mt-1">
                                <textarea id="deskripsi" name="deskripsi" type="text" placeholder="Deskripsi beasiswa" class="form-control form-control-lg py-2 bg-gray-light rounded-05" rows="10" required></textarea>
                            </div>

                            <input type="hidden" name="nama_penyelenggara" value="{{ user['nama_lembaga'] }}">
                            <input type="hidden" name="email_penyelenggara" value="{{ user['email'] }}">
                            <input type="hidden" name="penyelenggara_uid" value="{{ user['localId'] }}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submitAdd" class="btn btn-primary rounded-05">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left modal-borderless" id="editBeasiswaForm" tabindex="-1" aria-labelledby="editBeasiswaFormLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-4 p-3">
            <div class="modal-header">
                <h4 class="modal-title" id="editBeasiswaFormLabel">
                    Ubah Data Beasiswa
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <div class="modal-body">
                <form id="editForm" action="/edit-beasiswa" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-4">
                            <label for="poster">Poster Beasiswa </label>
                            <img id="img-poster-edit" class="rounded-05 border-primary border mt-1 poster-placeholder">
                            <div class="form-group mb-5 mt-3">
                                <input type="file" id="edt_poster" name="poster" type="file" accept="image/*" class="image-filepond-edit border-primary border-1" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
                            </div>

                            <label for="edt_pedoman">File Penting (Opsional) (File PDF) </label>
                            <div class="form-group mb-3 mt-1">
                                <input type="file" id="edt_file-penting" name="file-penting" multiple class="mf-filepond multiple-files-filepond-edit border-primary" accept="application/pdf" aria-describedby="inputGroupFileAddon04" aria-label="Upload" multiple>
                            </div>
                        </div>
                        <div class="col-8 ps-3">
                            <label for="edt_nama">Nama Beasiswa </label>
                            <div class="form-group mb-3 mt-1">
                                <input id="edt_nama" name="nama" type="text" placeholder="Nama beasiswa" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                            </div>

                            <label for="edt_ringkasan">Ringkasan Beasiswa </label>
                            <div class="form-group mb-3 mt-1">
                                <input id="edt_ringkasan" name="ringkasan" type="text" placeholder="Ringkasan beasiswa" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                            </div>

                            <label for="edt_lokasi">Jenis Pelaksanaan Beasiswa </label>
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="radio" name="edtRadioLokasi" value="Daring" id="edtRadioDaring">
                                <label class="form-check-label">
                                    Daring
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="edtRadioLokasi" value="Offline" id="edtRadioOffline">
                                <label class="form-check-label">
                                    Offline
                                </label>
                            </div>

                            <label for="lokasi" id="edtLabelLokasi" class="d-none">Lokasi Pelaksanaan Beasiswa </label>
                            <div class="form-group mb-3 mt-1">
                                <input id="edtTextLokasi" name="lokasi" type="hidden" placeholder="Lokasi offline" class="form-control form-control-lg py-2 bg-gray-light rounded-05">
                            </div>

                            <label for="edt_date">Tanggal Pelaksanaan Beasiswa </label>
                            <div class="form-group">
                                <input id="edt_date" type="text" name="date" class="form-control form-control-lg py-2 bg-gray-light rounded-05 flatpickr-no-config flatpickr-input active" placeholder="Klik untuk pilih tanggal" readonly="readonly" required>
                            </div>

                            <label for="edt_url">URL Beasiswa </label>
                            <div class="form-group mb-3 mt-1">
                                <input id="edt_url" name="url" type="text" placeholder="URL beasiswa" class="form-control form-control-lg py-2 bg-gray-light rounded-05" required>
                            </div>

                            <label for="edt_deskripsi">Deskripsi Beasiswa </label>
                            <div class="form-group mb-3 mt-1">
                                <textarea id="edt_deskripsi" name="deskripsi" type="text" placeholder="Deskripsi beasiswa" class="form-control form-control-lg py-2 bg-gray-light rounded-05" rows="10" required></textarea>
                            </div>

                            <label for="edt_status">Status Beasiswa </label>
                            <div class="form-group mb-3 mt-1">
                                <select class="form-select py-2 bg-gray-light rounded-05 text-start" name="status" id="edt_status" required>
                                    <option class="text-start" disabled selected value="default">Pilih Status</option>
                                    <option class="text-start" value="Nonaktif">Nonaktif</option>
                                    <option class="text-start" value="Aktif">Aktif</option>
                                </select>
                            </div>

                            <input type="hidden" name="penyelenggara_uid" value="{{ user['localId'] }}">
                            <input id="old_poster" type="hidden" name="old_poster">
                            <input id="old_pedoman" type="hidden" name="old_pedoman">
                            <input id="edt_created_at" type="hidden" name="created_at">
                            <input id="edt_email" type="hidden" name="email">
                            <input id="edt_jenis" type="hidden" name="jenis">
                            <input id="edt_nama_penyelenggara" type="hidden" name="nama_penyelenggara">
                            <input id="edt_id" type="hidden" name="id">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" id="submitEdit" class="btn btn-primary rounded-05">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade text-left modal-borderless" id="detailBeasiswa" tabindex="-1" aria-labelledby="detailBeasiswaLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content rounded-4 p-3">
            <div class="modal-header">
                <h4 class="modal-title" id="detailBeasiswaLabel">
                    Detail Beasiswa
                </h4>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <label for="view_poster">Poster Beasiswa </label>
                        <img id="view_img-poster" class="rounded-05 border-primary border mt-1 w-100 mb-5">

                        <label>File Penting</label>
                        <div id="view_file-penting" class="mt-1">
                        </div>
                    </div>
                    <div class="col-8 ps-3">

                        <label for="view_nama">Nama Beasiswa </label>
                        <div class="form-group mb-3 mt-1">
                            <input id="view_nama" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" readonly="readonly" disabled>
                        </div>

                        <label for="view_ringkasan">Ringkasan Beasiswa </label>
                        <div class="form-group mb-3 mt-1">
                            <input id="view_ringkasan" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" readonly="readonly" disabled>
                        </div>

                        <label for="view_lokasi">Lokasi Pelaksanaan Beasiswa </label>
                        <div class="form-group mb-3 mt-1">
                            <input id="view_lokasi" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" readonly="readonly" disabled>
                        </div>

                        <label for="view_date">Tanggal Pelaksanaan Beasiswa </label>
                        <div class="form-group">
                            <input id="view_date" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" readonly="readonly" disabled>
                        </div>

                        <label for="view_url">URL Beasiswa </label>
                        <div class="form-group mb-3 mt-1">
                            <input id="view_url" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" readonly="readonly" disabled>
                        </div>

                        <label for="view_deskripsi">Deskripsi Beasiswa </label>
                        <div class="form-group mb-3 mt-1">
                            <textarea id="view_deskripsi" type="text" placeholder="Deskripsi beasiswa" class="form-control form-control-lg py-2 bg-gray-light rounded-05" readonly="readonly" disabled rows="10"></textarea>
                        </div>

                        <label for="view_status">Status Beasiswa </label>
                        <div class="form-group mb-3 mt-1">
                            <input id="view_status" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" readonly="readonly" disabled>
                        </div>

                        <label for="view_datecreated">Tanggal Pembuatan Beasiswa </label>
                        <div class="form-group mb-3 mt-1">
                            <input id="view_datecreated" type="text" class="form-control form-control-lg py-2 bg-gray-light rounded-05" readonly="readonly" disabled>
                        </div>

                        <input type="hidden" name="penyelenggara_uid" value="{{ user['localId'] }}">
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary rounded-05" data-bs-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

<script>

    var detailBeasiswaModal = new bootstrap.Modal($('#detailBeasiswa'));
    var editBeasiswaModal = new bootstrap.Modal($('#editBeasiswaForm'));

    function showDetail(docId) {
        $('.spinner').removeClass('d-none')
        $('.overlay').removeClass('d-none')

        $.get(`/get-beasiswa/${docId}`, function (data) {
            $('#view_ringkasan').val(data.ringkasan)
            $('#view_nama').val(data.nama)
            $('#view_lokasi').val(data.lokasi)
            $('#view_date').val(data.date)
            $('#view_url').val(data.url)
            $('#view_deskripsi').val(data.deskripsi)
            $('#view_status').val(data.status)
            $('#view_datecreated').val(data.created_at)
            $('#view_img-poster').attr('src', data.poster);

            var viewFilePenting = ''

            if (data.file_penting.length > 0) {
                data.file_penting.forEach(function (fileData) {
                    viewFilePenting = viewFilePenting + `<div class="bg-gray-light border border-1 border-primary rounded-05 mb-2 text-primary text-center py-3 px-2">${fileData.nama_file}</div>`
                });
            } else{
                viewFilePenting = viewFilePenting + `<div class="bg-gray-light border border-1 border-danger rounded-05 mb-2 text-danger text-center py-3 px-2">Tidak ada file yang diupload</div>`
            }

            $('#view_file-penting').html(viewFilePenting);

            detailBeasiswaModal.show()
            $('.spinner').addClass('d-none')
            $('.overlay').addClass('d-none')
        })
    }

    function editBeasiswa(docId) {
        $('.spinner').removeClass('d-none')
        $('.overlay').removeClass('d-none')

        $.get(`/get-beasiswa/${docId}`, function (data) {
            $('#edt_ringkasan').val(data.ringkasan)
            $('#edt_nama').val(data.nama)
            $('#edt_date').val(data.date)
            $('#edt_url').val(data.url)
            $('#edt_deskripsi').val(data.deskripsi)
            $('#edt_status').val(data.status)
            $('#edt_created_at').val(data.created_at)
            $('#edt_email').val(data.email_penyelenggara)
            $('#edt_jenis').val(data.jenis_kegiatan)
            $('#edt_nama_penyelenggara').val(data.nama_penyelenggara)
            $('#old_poster').val(data.poster)
            $('#old_pedoman').val(data.pedoman)
            $('#edt_id').val(docId)
            $('#img-poster-edit').attr('src', data.poster);
            $('#img-poster-edit').removeClass('poster-placeholder');
            $('#img-poster-edit').addClass('w-100');

            imgPondEdit.removeFiles();
            multipleFilePondEdit.removeFiles();
            addToPond(data.poster, data.poster_filename, 'image', imgPondEdit)

            data.file_penting.forEach(function (fileData) {
                addToPond(fileData.url, fileData.nama_file, 'application', multipleFilePondEdit)
            });

            if (data.lokasi === "Daring") {
                $('#edtRadioDaring').prop('checked', true);
                $('#edtTextLokasi').attr('type', "hidden");
                $('#edtTextLokasi').val("Daring");
            } else {
                $('#edtRadioOffline').prop('checked', true);
                $('#edtTextLokasi').attr('type', "text");
                $('#edtLabelLokasi').removeClass('d-none');
                $('#edtTextLokasi').val(data.lokasi);
            }

            editBeasiswaModal.show()
            $('.spinner').addClass('d-none')
            $('.overlay').addClass('d-none')
        })
    }

    function deleteBeasiswa(docId) {
        swalCustom.fire({
            title: 'Hapus Beasiswa?',
            text: "Apakah anda yakin akan menghapus beasiswa? Anda tidak dapat mengembalikan beasiswa yang sudah dihapus.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '&nbsp;&nbsp;&nbsp;Ya&nbsp;&nbsp;&nbsp;',
            cancelButtonText: 'Tidak',
        }).then((result) => {
            if (result.isConfirmed) {
                window.open(`/delete-beasiswa/${docId}`, "_self");
            }
        })
    }

    $(document).ready(function () {
        $('#submitAdd').click(function () {
            if ($("#nama").val() === "") {
                $('#nama').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi nama beasiswa'
                })
                return;
            } else if ($("#ringkasan").val() === "") {
                $('#ringkasan').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi ringkasan beasiswa'
                })
                return;
            } else if ($("#textLokasi").val() === "") {
                $('#radioDaring').addClass('is-invalid');
                $('#radioOffline').addClass('is-invalid');
                $('#textLokasi').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi lokasi penyelenggaraan beasiswa'
                })
                return;
            } else if ($("#date").val() === "") {
                $('#date').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi tanggal penyelenggaraan beasiswa'
                })
                return;
            } else if ($("#url").val() === "") {
                $('#url').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi URL beasiswa'
                })
                return;
            } else if ($("#deskripsi").val() === "") {
                $('#deskripsi').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi deskripsi beasiswa'
                })
                return;
            }

            $('.spinner').removeClass('d-none')
            $('.overlay').removeClass('d-none')
            $('#addForm').submit();
        });
    });

    $(document).ready(function () {
        $('#submitEdit').click(function () {
            if ($("#edt_nama").val() === "") {
                $('#edt_nama').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi nama beasiswa'
                })
                return;
            } else if ($("#edt_ringkasan").val() === "") {
                $('#edt_ringkasan').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi ringkasan beasiswa'
                })
                return;
            } else if ($("#edtTextLokasi").val() === "") {
                $('#edtRadioDaring').addClass('is-invalid');
                $('#edtRadioOffline').addClass('is-invalid');
                $('#edtTextLokasi').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi lokasi penyelenggaraan beasiswa'
                })
                return;
            } else if ($("#edt_date").val() === "") {
                $('#edt_date').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi tanggal penyelenggaraan beasiswa'
                })
                return;
            } else if ($("#edt_url").val() === "") {
                $('#edt_url').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi URL beasiswa'
                })
                return;
            } else if ($("#edt_deskripsi").val() === "") {
                $('#edt_deskripsi').addClass('is-invalid');
                Toast.fire({
                    icon: 'error',
                    title: 'Harap isi deskripsi beasiswa'
                })
                return;
            }

            $('.spinner').removeClass('d-none')
            $('.overlay').removeClass('d-none')
            $('#editForm').submit();
        });
    });

    $(document).ready(function () {
        $('input[name="radioLokasi"]').change(function () {
            var selectedValue = $(this).val();

            if (selectedValue === "Daring") {
                $('#textLokasi').attr('type', "hidden");
                $('#labelLokasi').addClass('d-none');
                $('#textLokasi').val("Daring");
            } else {
                $('#textLokasi').attr('type', "text");
                $('#labelLokasi').removeClass('d-none');
                $('#textLokasi').val("");
            }
        });
    });

    $(document).ready(function () {
        $('input[name="edtRadioLokasi"]').change(function () {
            var selectedValue = $(this).val();

            if (selectedValue === "Daring") {
                $('#edtTextLokasi').attr('type', "hidden");
                $('#edtLabelLokasi').addClass('d-none');
                $('#edtTextLokasi').val("Daring");
            } else {
                $('#edtTextLokasi').attr('type', "text");
                $('#edtLabelLokasi').removeClass('d-none');
                $('#edtTextLokasi').val("");
            }
        });
    });

</script>

{% endblock %}